# SentEval data and .pyc files



# python
__pycache__/
*.py[cod]
*$py.class

# log files
*.log
*.txt

# data files
data/senteval_data*
examples/infersent1.pkl
examples/infersent2.pkl
data/downstream

